<h2>Game Synopsis</h2>

<p>
  Legends of the Nentir Vale is a 5th edition Dungeons & Dragons game. You are a member of a new adventuring party hoping to make their fortune with daring exploits and dungeon delves. This game will primarily focus on the lesser troubles of the Nentir Vale, a small section of Nerath. This game will largely focus on classic adventures, dungeon delves, and all the other tropes and cliches that made me fall in love with D&D in the first place. This is nothing but a love letter to the classic games of my childhood. You may even meet in a tavern and have to slay some rats.
</p>
