<div *ngIf="currentRoute === '/character-list'">
  <div *ngFor="let character of characters | async" class="panel panel-default">
    <div (click)="goToCharacterDetail(character)" class="panel-body">
      <h3>{{character.name}}</h3>
      <h4>{{character.race}} {{character.characterClass}}</h4>
    </div>
  </div>
</div>
<div *ngIf="currentRoute === '/admin'">
  <a routerLink="new-character">New Character</a>
  <hr>
  <div *ngFor="let character of characters | async" class="panel panel-default">
    <div class="panel-body">
      <h3>{{character.name}}</h3>
      <h4>{{character.race}} {{character.characterClass}}</h4>
      <p>
        <strong>Race: </strong> {{character.race}}
      </p>
      <p>
        <strong>Class: </strong> {{character.characterClass}}
      </p>
      <p>
        <strong>Level: </strong> {{character.level}}
      </p>
      <p>
        <strong>XP: </strong> {{character.xp}}
      </p>
      <button (click)="showEditForm(character)">Edit</button>
      <button (click)="showDeleteForm(character)">Delete</button>
      <div *ngIf="selectedCharacter === character">
        <hr>
        <div *ngIf="modificationType === 'edit'">
          <app-edit-character [selectedCharacter]="character" (editDoneSender)=finishedEditing()></app-edit-character>
        </div>
        <div *ngIf="modificationType === 'delete'">
          <app-delete-character [selectedCharacter]="character"></app-delete-character>
        </div>
      </div>
    </div>
  </div>
</div>
